/* MANI PULSANTI */
/* Tangle by Claire Mitchell (Creative Commons): https://fontstruct.com/fontstructions/show/416137/tangle_6 */
@font-face {
    font-family: 'Tangle';
    src: url('../fonts/tangle.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.font-tangle {
    font-family: 'Tangle';
    font-size: 5em;
}
/* Wondertype by Clemence Fontaine (SIL Open Font License): https://www.clemencefontaine.fr/page/wonder.html */ 
@font-face {
    font-family: 'Wondertype';
    src: url('../fonts/WonderType-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
.font-wondertype {
    font-family: 'Wondertype';
    font-size: 2em;
}
/* PetMe2Y by KreativeKorp (KREATIVE SOFTWARE RELAY FONTS FREE USE LICENSE): https://www.kreativekorp.com/software/fonts/c64/ */ 
@font-face {
    font-family: 'PetMe1282Y';
    src: url('../fonts/PetMe1282Y.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.font-petme {
    font-family: 'PetMe1282Y';
    font-size: 2em;
    line-height: 1.15;
}

/* LINEA UMIDA */
/* Badger Spine by hollydennis (Creative Commons): https://fontstruct.com/fontstructions/show/548518/badger_spine */
@font-face {
    font-family: 'Badgerspine';
    src: url('../fonts/badger-spine.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.font-badgerspine {
    font-family: 'Badgerspine';
    font-size: 2em;
    line-height: 1.25;
} 
/* Fungal by Raphaël Bastide, Jérémy Landes (SIL Open Font License): https://velvetyne.fr/fonts/fungal/ */
@font-face {
    font-family: 'Fungal';
    src: url('../fonts/Fungal Grow 600 500.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.font-fungal {
    font-family: 'Fungal';
    font-size: 2em;
    line-height: 1.25;
}

/* JALEO */
/* JRUG PUNK by JO 753 (Apache License Version 2.0): https://usemodify.com/fonts/jrug-punk/ */
@font-face {
    font-family: 'Jrug Punk';
    src: url('../fonts/JRUG_PUNK.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
.font-jrugpunk {
    font-family: 'Jrug Punk';
    font-size: 2em;
}
/* Bullet Motion by sophietje (Creative Commons): https://fontstruct.com/fontstructions/show/117836/bullet_motion */
@font-face {
    font-family: 'Bullet Motion';
    src: url('../fonts/bullet-motion.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.font-bulletmotion {
    font-family: 'Bullet Motion';
    font-size: 3em;
    line-height: 1;
}
/* Nuts Bolts And Wrenches by raiu (Creative Commons): https://fontstruct.com/fontstructions/show/327785/nuts_bolts_and_wrenches */
@font-face {
    font-family: 'Nuts Bolts And Wrenches';
    src: url('../fonts/nuts-bolts-and-wrenches.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.font-nutsboltsandwrenches {
    font-family: 'Nuts Bolts And Wrenches';
    font-size: 2.5em;
    line-height: 1.25;
}

/* ORGANISMO */
/* Apostle XIII BY WasteOfPaper (Creative Commons): https://fontstruct.com/fontstructions/show/560826/apostle_xiii */
@font-face {
    font-family: 'Apostle XIII';
    src: url('../fonts/apostle-xiii.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.font-apostlexiii {
    font-family: 'Apostle XIII';
    font-size: 2em;
    line-height: 1.25;
}

/* SPIRA */

/* GAIA */
/* Karrik by Jean-Baptiste Morizot, Lucas Le Bihan (SIL Open Font License): https://www.velvetyne.fr/fonts/karrik/ */
@font-face {
    font-family: 'Karrik';
    src: url('../fonts/Karrik-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
.font-karrik {
    font-family: 'Karrik';
    font-size: 2.5em;
}
/* FILTH by jono123 (Creative Commons): https://fontstruct.com/fontstructions/show/116548/filth_1 */
@font-face {
    font-family: 'Filth';
    src: url('../fonts/filth.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.font-filth {
    font-family: 'Filth';
    font-size: 3em;
    line-height: 1.25;
}
/* DOYOUSEEPATTERNS */ 
/* Mattone by Nunzio Mazzaferro (SIL Open Font License): https://www.collletttivo.it/typefaces/mattone */
@font-face {
    font-family: 'Mattone';
    src: url('../fonts/Mattone-150.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
.font-mattone {
    font-family: 'Mattone';
    font-size: 2em;
    line-height: 1.25;
}
/* JetBrains Mono by Philipp Nurullin (SIL Open Font License): https://github.com/JetBrains/JetBrainsMono */
@font-face {
    font-family: 'JetBrains Mono';
    src: url('../fonts/JetBrainsMono.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.font-jetbrainsmono {
    font-family: 'JetBrains Mono';
    font-size: 2em;
    line-height: 1.25;
}

/* PULSE */
/* RM Entrees by p2pnut (Creative Commons): https://fontstruct.com/fontstructions/show/203081/rm_entrees */
@font-face {
    font-family: 'RM Entrees';
    src: url('../fonts/rm-entrees.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.font-rmentrees {
    font-family: 'RM Entrees';
    font-size: 2em;
}
/* Prokaryotes by kate wood (Creative Commons): https://fontstruct.com/fontstructions/show/251207/prokaryotes */
@font-face {
    font-family: 'Prokaryotes';
    src: url('../fonts/prokaryotes.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
.font-prokaryotes {
    font-family: 'Prokaryotes';
    font-size: 3em;
    line-height: 0.75;
}

/* DIGITAL FABRICATION */ 


/* BIO */
/* Arnold Boecklin by Arnold Boecklin (No License): https://fontsgeek.com/fonts/Arnold-Boecklin-Std-Regular */
@font-face {
    font-family: 'ArnoldBoecklin';
    src: url('../fonts/ArnoldBoecklinRegular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
.font-arnoldboecklin {
    font-family: 'ArnoldBoecklin', 'Arnold Boecklin', serif;
    font-size: 2em;
}

/* Myrtille Pixel by Frodo7 (Creative Commons): https://fontstruct.com/fontstructions/show/1410086/myrtille-pixel */
@font-face {
    font-family: 'Myrtille Pixel';
    src: url('../fonts/myrtille-pixel.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
.font-myrtillepixel {
    font-family: 'Myrtille Pixel';
    font-size: 2.5em;
}

/* Insolente by Marie Godefroy (CUTE): https://typotheque.genderfluid.space/fr/fontes/insolent-e */
@font-face {
    font-family: 'Insolente';
    src: url('../fonts/Insolente-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
.font-insolente {
    font-family: 'Insolente';
    font-size: 1.8em;
}

/* XBAND Rough by XBAND (License Unknown): font source unknown */
@font-face {
    font-family: 'XBandRough';
    src: url('../fonts/XBANDRough.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
.font-xbandrough {
    font-family: 'XBandRough', 'XBAND Rough', monospace;
    font-size: 2em;
}

/* Punk Nova by Donald Knuth, Khaled Hosny (License in README): https://usemodify.com/fonts/punk-nova/ */ 
@font-face {
    font-family: 'punknova';
    src: url('../fonts/punknova-regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
.font-punknova {
    font-family: 'punknova';
    font-size: 2em;
}

/* Gensco by Cédric Rossignol-Brunet (Open Font License): https://www.cedricrossignolbrunet.com/gensco/ */
@font-face {
    font-family: 'Gensco';
    src: url('../fonts/gensco.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
.font-gensco {
    font-family: 'Gensco';
    font-size: 2em;
}

/* Gensco Conf 46-70 by Cédric Rossignol-Brunet (Open Font License): https://www.cedricrossignolbrunet.com/gensco/ */
@font-face {
    font-family: 'Gensco Conf 46-70';
    src: url('../fonts/conf_46-70.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
.font-conf_46-70 {
    font-family: 'Gensco Conf 46-70';
    font-size: 2em;
}

/* FS Slanted Cursive by Kyle Sinpraseuth (SIL Open Font License): https://fontstruct.com/fontstructors/2450241/kyyle */
@font-face {
    font-family: 'FS Slanted Cursive';
    src: url('fonts/fs-slanted-cursive.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
.font-fsslantedcursive {
    font-family: 'FS Slanted Cursive';
    font-size: 2em;
    letter-spacing: -0.25em;
}
